**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.github/
.editorconfig
.php_cs.cache
bin/*
!bin/console
build/
helm/
docs/
public/bundles/
tests/
vendor/
docker/db/data
.env.*.local
.env.local
.env.local.php
.env.test
data/
web/sites/default/files/
